<div class="grid justify-content-center card">
  <div class="col-10 md:col-8 lg:col-4">
    <p-card>
      <div class="grid">
        <div class="col-12 text-center">
          <fa-icon class="fa-4x" style="color: #0e49af;" [icon]="icon"></fa-icon>
          <h2>Car Sales</h2>
        </div>
        <div class="col-12">
          <label for="">Usuário:</label>
          <input class="col-12" type="text" pInputText />
        </div>
        <div class="col-12">
          <label for="">Senha:</label>
          <input class="col-12" type="text" pInputText />
        </div>
        <div class="col-12">
          <p-button label="Entrar" styleClass="p-button-outlined col-12"></p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>
